.shift, .drift, .driver {
    user-select: none;
}
.shift .card-title, .drift .card-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ds-selected {
    background: #1266f1;
    color:white;
    animation: ease 0.3s;
}
#btnRide{
    display: none;
    position:fixed;
    bottom:40px;
	right:50%;
}

.hide{
    display: none;
}

.bt { 
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: none;
    background-color: inherit;
}
.bt:hover{
    opacity: .5;
    cursor: pointer;
}
.bt-xs {
    width: 9px;
    height: 9px;
}
.bt-sm {
    width: 16px;
    height: 16px;
}
.bt-y-md {
    height: 40px !important;
}
.bt-md { 
    width: 24px;
    height: 24px;
}
.bt-lg { 
    width: 30px;
    height: 30px;
}
.bt-xl { 
    width: 48px;
    height: 48px;
}
.bt-xxl { 
    width: 64px;
    height: 64px;
}

.bt-trash { background-image: url('../icons/trash.svg');}
.bt-info { background-image: url('../icons/info-square.svg');}
.bt-pencil { background-image: url('../icons/pencil-square.svg');}

.page-link{
    cursor: pointer;
}
