{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Grupo American SIRF{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fixes.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    {% if request.user.is_authenticated %}
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'panel:programming' %}">Grupo American SIRF</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panel:fleet' %}">Flota</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panel:company' %}">Compañías</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'panel:driver' %}">Conductores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'panel:programming' %}">Programación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panel:emergency' %}">Emergencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'panel:ride' %}">Viajes</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link">{{ request.user.first_name }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Cerrar Sesión</a>
              </li>
          </ul>
        </div>
      </nav>
    </div>
    {% endif %}

    <div class="container mt-2">
      {% block content %}
      {% endblock content %}
    </div> 

    {% block modal %}
    {% endblock modal %}
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/flatpickr.js' %}"></script>
    <script src="{% static 'js/ds.min.js' %}"></script>
    <script src="{% static 'js/choices.min.js' %}"></script>
    <script src="{% static 'js/constants.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
 
