{% load crispy_forms_tags static %}
<html class="h-100">
<head>
  <title>Inicia Sesión</title>
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="row h-100">
  <div class="col-11 col-sm-4 m-auto">
    <h1>Panel de Control</h1>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction btn btn-primary" type="submit">Inicia Sesión</button>
    </form>
  </div>
  </body>
</html>