{% load static %}
<html class="h-100">
<head>
  <title>Vale {{ride.slug}}</title>
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/vale.css' %}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="row mt-5  mb-4">
      <div class="col-md-4">
        <div class='logo'><img src="{% static 'images/logo.svg' %}"></div>
      </div>
      <div class="col-md-4">
        <h2 class='row title my-0'>Vale de Movilidad {{ride.slug}}</h2>
      </div>
      <div class="col-md-4 date">
          <h5>{{ride.scheduled_time|date:"d/m/Y"}}</h5>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-4">
        <h5>Telefs. 983 276 753 / 965 367 829</h5>
        <h5>R.U.C. 20600712854</h5>
        <h5>soporte@grupoamersirf.com</h5>
      </div>
      <div class="col-md-4">
      <table class="table striped table-bordered">
        <thead>
          <tr>
            <th>H. Inicio</th>
            <th>H. Final</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><h5>{{ride.started_time|time:"H:i"}}</h5></td>
            <td><h5>{{ride.finished_time|time:"H:i"}}</h5></td>
            <td><h5>{%if ride.type == 0%}Recojo{% else %}Salida{% endif %}</h5></td>
          </tr>
        </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h5>Conductor: {{ride.driver.full_name}}</h5>
        <h5>Placa: {{ride.car.plate}}</h5>
        <h5>Cliente: {{ride.company.name}}</h5>
      </div>
    </div>
    <div class="row my-2">
        <h5>Dirección: {{ride.arrival_place}}</h5>
    </div>
    <table class="table striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Nombre y Apellido</th>
          <th scope="col">DNI</th>
          <th scope="col">Dirección</th>
          <th scope="col">Observacion</th>
        </tr>
      </thead>
      <tbody> 
        {% for drift in ride.drift_set.all %}
        <tr>
          <td>{{drift.passenger.full_name}}</td>
          <td>{{drift.passenger.username}}</td>
          <td>{{drift.pickup_place|title}}</td>
          <td>{{drift.status_description|default:'Ninguna'}}</td>
        </tr>
        {% if drift.pickup_photos.all.exists %}
        <tr>
          <td colspan="4">
              {% for photo in drift.pickup_photos.all %}
              <div style="width: 200px;height: 100px;background: gray;">
                <img style="width: 100%;height: 100%;" src="data:image/png; base64, {{photo.base64}}" onclick="window.open(this.src)"/>
              </div>
              {% endfor %}
          </td>
        </tr>
        {% endif%}
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
<script src="{% static 'js/mdb.min.js' %}" aria-hidden="true"></script>
</html>