{% load crispy_forms_tags static %}
<html class="h-100">
<head>
  <title>Buscar Vale</title>
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="row h-100">
  <div class="col-11 col-sm-4 m-auto">
    <div class="row">
        <div class="form-outline mb-3">
            <input type="text" name="ride" class="form-control" id="inputRide"/>
            <label class="form-label" for="ride">Codigo de vale</label>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-sm-4 pr-sm-0">
            <a class="btn btn-primary btn-block" id="btnRide" href="">Buscar</a>
        </div>
    </div>
  </div>
  </body>
<script src="{% static 'js/mdb.min.js' %}" aria-hidden="true"></script>
<script>
document.getElementById('inputRide').addEventListener('change', e => {
    document.getElementById('btnRide').setAttribute('href', e.target.value.toUpperCase())
})
document.getElementById('inputRide').addEventListener('keyup', e => {
    if(e.keyCode == 13) window.location = e.target.value.toUpperCase()
})
</script>
</html>