{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<h1>Listado de Compañías</h1>
<button type="button" class="btn btn-primary mb-3" id="createBtnModal" >
  Agregar
</button> 
<div class="card">
    <div class="card-body table-responsive">
      <table class="table table-striped align-middle">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Referencia</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Compañía</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formUpdate">
          <div class="form-outline mb-3">
            <input type="text" name="model" class="form-control" id="inputName"/>
            <label class="form-label" for="inputName">Nombre</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="plate" class="form-control" id="inputAddress"/>
            <label class="form-label" for="inputAddress">Dirección</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="capacity" class="form-control" id="inputReference" />
            <label class="form-label" for="inputReference">Referencia</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="capacity" class="form-control" id="inputEmail" />
            <label class="form-label" for="inputEmail">Correo</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnSubmit" action="">Guardar</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
    <script>
      const api ={
        company: {
          list:  "{% url 'api_company_panel:list_create' %}",
          create:  "{% url 'api_company_panel:list_create' %}",
          retrieve:  "{% url 'api_company_panel:retrieve_update_destroy' %}",
          update:  "{% url 'api_company_panel:retrieve_update_destroy' %}",
          delete:  "{% url 'api_company_panel:retrieve_update_destroy' %}",
        }
      }
    </script>
    <script src="{% static 'js/company/main.js' %}"></script>
{% endblock javascript %}