{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<h1>Listado de Conductores</h1>
<button type="button" class="btn btn-primary mb-3" id="createBtnModal" >
  Agregar
</button> 
<div class="card">
    <div class="card-body table-responsive">
      <table class="table table-striped align-middle">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Vehiculo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Conductor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formUpdate">
          <div class="form-outline mb-3">
            <input type="text" name="DNI" class="form-control" id="inputDNI"/>
            <label class="form-label" for="DNI">DNI</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="firstName" class="form-control" id="inputFirstName"/>
            <label class="form-label" for="firstName">Nombres</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="lastName" class="form-control" id="inputLastName"/>
            <label class="form-label" for="lastName">Apellidos</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="email" class="form-control" id="inputEmail" />
            <label class="form-label" for="email">Correo</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="phones" class="form-control" id="inputPhones" />
            <label class="form-label" for="phones">Telefonos</label>
          </div>
          <div class="form-outline mb-3">
            <input list="carBrandList" type="text" name="carBrand" class="form-control" id="inputCarBrand"/>
            <label class="form-label" for="carBrand">Marca Vehiculo</label>
            <datalist id="carBrandList"></datalist>
          </div>
          <div class="form-outline mb-3">
            <input list="carModelList" type="text" name="carModel" class="form-control" id="inputCarModel"/>
            <label class="form-label" for="carModel">Modelo Vehiculo</label>
            <datalist id="carModelList"></datalist>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="carPlate" class="form-control" id="inputCarPlate"/>
            <label class="form-label" for="carPlate">Placa Vehiculo</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="carCapacity" class="form-control" id="inputCarCapacity"/>
            <label class="form-label" for="carCapacity">Capacidad Vehiculo</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="password" class="form-control" id="inputPassword" />
            <label class="form-label" for="password">Contraseña</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnSubmit" action="">Guardar</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
    <script>
      const api ={
        driver: {
          list:  "{% url 'api_driver_panel:list_create' %}",
          create:  "{% url 'api_driver_panel:list_create' %}",
          retrieve:  "{% url 'api_driver_panel:retrieve_update_destroy' %}",
          update:  "{% url 'api_driver_panel:retrieve_update_destroy' %}",
          delete:  "{% url 'api_driver_panel:retrieve_update_destroy' %}",
        }
      }
    </script>
    <script src="{% static 'js/driver/main.js' %}"></script>
{% endblock javascript %}