{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<h1>Listado de recojos en emergencia</h1>
<div class="card">
    <div class="card-body table-reponsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Cod</th>
            <th scope="col">Conductor</th>
            <th scope="col">Pasajero</th>
            <th scope="col">Estado</th>
            <th scope="col">Distrito</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
const api = {
    emergency: {
        update: "{% url 'api_emergency_panel:update' %}",
        list: "{% url 'api_emergency_panel:list' %}",
    }
}
</script>
<script src="{% static 'js/emergency/main.js' %}"></script>
{% endblock javascript %}