{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<h1>Listado de Vehiculos</h1>
<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#createFormModal">
  Agregar
</button> 
<div class="card">
    <div class="card-body table-responsive">
      <table class="table table-striped align-middle">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Placa</th>
            <th scope="col">Capacidad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="updateFormModal" tabindex="-1" aria-labelledby="createFormModal" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formUpdate">
          <div class="form-outline mb-3">
            <input type="text" name="brand" class="form-control" />
            <label class="form-label" for="inputMarca">Marca</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="model" class="form-control" />
            <label class="form-label" for="inputModel">Modelo</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="plate" class="form-control" />
            <label class="form-label" for="inputPlate">Placa</label>
          </div>
          <div class="form-outline mb-3">
            <input type="number" name="capacity" class="form-control" />
            <label class="form-label" for="inputCapacity">Capacidad</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnUpdate">Actualizar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="createFormModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Agregar nuevo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formCreate">
          <div class="form-outline mb-3">
            <input type="text" name='brand' class="form-control" />
            <label class="form-label" for="inputBrand">Marca</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name='model' class="form-control" />
            <label class="form-label" for="inputModel">Modelo</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name='plate' class="form-control" />
            <label class="form-label" for="inputPlate">Placa</label>
          </div>
          <div class="form-outline mb-3">
            <input type="number" name='capacity' class="form-control" />
            <label class="form-label" for="inputCapacity">Capacidad</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnCreate">Agregar</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

{% block javascript %}
    <script>
      const api ={
        fleet: {
          list:  "{% url 'api_fleet_panel:list_create' %}",
          create:  "{% url 'api_fleet_panel:list_create' %}",
          retrieve:  "{% url 'api_fleet_panel:retrieve_update_destroy' %}",
          update:  "{% url 'api_fleet_panel:retrieve_update_destroy' %}",
          delete:  "{% url 'api_fleet_panel:retrieve_update_destroy' %}",
        }
      }
    </script>
    <script src="{% static 'js/fleet/main.js' %}"></script>
{% endblock javascript %}