{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<div class="row my-3">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Programación</h2>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <select id ='companySelector' class="form-select" aria-label="Seleccionar empresa"></select>
                        </div>
                        <div class="col">
                           <button type="button" class="btn btn-primary" id="btnClean">Limpiar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row hide" id="fileContainer">
                        <div class='col'>
                            <div class="form-file">
                              <input type="file" class="form-file-input" id="fileExcel">
                              <label class="form-file-label" for="customFile">
                                <span class="form-file-text" id="lblFileExcel">Selecciona un archivo...</span>
                                <span class="form-file-button">xls</span>
                              </label>
                            </div>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" id="btnUpdate">Subir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="container-finish-programming">

</div>
<div class="row">
    <div id="shifts" class="col-3"></div>
    <div id="drivers" class="col-3"></div>
    <div id="drifts" class="col-6"></div>
</div>
<button type="button" class="btn btn-lg btn-success" id="btnRide">Crear Viaje</button>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Detalle de programación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formUpdate">
          <div class="form-outline mb-3">
            <input type="text" name="firstName" class="form-control" disabled id="inputFirstName"/>
            <label class="form-label" for="firstName">Nombres</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="lastName" class="form-control" disabled id="inputLastName"/>
            <label class="form-label" for="lastName">Apellidos</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="address" class="form-control" id="inputAddress"/>
            <label class="form-label" for="address">Dirección</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="reference" class="form-control" id="inputReference"/>
            <label class="form-label" for="reference">Referencia</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="distrito" class="form-control" id="inputDistrito"/>
            <label class="form-label" for="rate">Distrito</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="rate" class="form-control" id="inputRate"/>
            <label class="form-label" for="rate">Codigo</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnUpdateDrift" action="">Guardar</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}


{% block javascript %}
<script>
const api = {
    company: {
        list: "{% url 'api_company_panel:list_create' %}",
    },
    programming: {
        file: "{% url 'api_programming_panel:file' %}",
        shift: "/api/programming/shift/",
        data: "{% url 'api_programming_panel:driver_drift' %}",
        ride: "{% url 'api_programming_panel:ride' %}",
        remove: "/api/programming/remove/",
        update: "/api/programming/update/",
        clean: "/api/programming/clean/",
        finish: "/api/programming/finish/"
    }
}
</script>
<script src="{% static 'js/programming/main.js' %}"></script>
{% endblock javascript %}