{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
<h1>Listado de viajes asignados</h1>
<div class="card my-3 p-3">
  <div class="row">
    <div class="col-md-3">
          <div class="form-outline mb-3">
            <input type="text" name="FilterScheduledTimeBegin" class="form-control" id="inputFilterScheduledTimeBegin"/>
            <label class="form-label" for="FilterScheduledTimeBegin">Fecha Inicio</label>
          </div>
    </div>
    <div class="col-md-3">
          <div class="form-outline mb-3">
            <input type="text" name="FilterScheduledTimeEnd" class="form-control" id="inputFilterScheduledTimeEnd"/>
            <label class="form-label" for="FilterScheduledTimeEnd">Fecha Fin</label>
          </div>
    </div>
    <div class="col-md-3">
          <div class="mb-3">
            <select  name="FilterDriver" class="form-control" id="inputFilterDriver">
              <option value="">Conductor</option>
            </select>
          </div>
    </div>
    <div class="col-md-3">
          <div class="mb-3">
            <select  name="FilterCompany" class="form-control" id="inputFilterCompany">
              <option value="">Compañía</option>
            </select>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary" id="btnSearch">Buscar</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary" id="btnOpenCreateRide">Crear Viaje</button>
    </div>
  </div>
</div>
<div class="card">
    <div class="card-body table-reponsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Conductor</th>
            <th scope="col">Hora</th>
            <th scope="col">Distrito</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
      </table>
      <nav >
        <ul class="pagination">
        </ul>
      </nav>
    </div>
</div>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="formModalRide" tabindex="-1" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog  modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Viaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="mb-2">
            <label class="form-label mb-1" for="ScheduledTime">Hora Programada</label>
            <input type="text" name="ScheduledTime" class="form-control" id="inputScheduledTime"/>
          </div>
          <div class="mb-2">
            <label class="form-label mb-1" for="inputDriver">Conductor</label>
            <select  name="Driver" class="form-control" id="inputDriver">
              <option value="">Conductor</option>
            </select>
          </div>
          <div class="mb-2">
            <label class="form-label mb-1" for="Address">Dirección</label>
            <input type="text" name="Address" class="form-control active" id="inputAddress"/>
          </div>
          <div class="mb-2">
            <label class="form-label mb-1" for="Vehicle">Vehiculo</label>
            <select  name="Vehicle" class="form-control" id="inputVehicle">
              <option value="">Vehiculo</option>
            </select>
          </div>
          <div class="mb-2">
            <label class="form-label mb-1" for="Vehicle">Compañía</label>
            <select  name="Company" class="form-control" id="inputCompany">
              <option value="">Company</option>
            </select>
          </div>
          <div class="row" id="driftsTable">
          <div class="row">
            <button type="button" class="btn btn-primary" id="btnCreateDrift">Agregar</button>
          </div>
            <div class="card-body table-reponsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pasajero</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Lugar</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody id="driftsTableBody">
                </tbody>
              </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnSubmitRide" action="">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="formModalDrift" tabindex="-1" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog  modal-md modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content shadow-3-strong">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Recojo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-outline mb-3">
            <input type="text" name="DriftDni" class="form-control active" id="inputDriftDni"/>
            <label class="form-label" for="DriftDni">Pasajero Dni</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="DriftFirstName" class="form-control" id="inputDriftFirstName"/>
            <label class="form-label" for="DriftFirstName">Nombre pasajero</label>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="DriftLastName" class="form-control" id="inputDriftLastName"/>
            <label class="form-label" for="DriftLastName">Apellido pasajero</label>
          </div>
          <div class="form-row mb-3">
            <select class="form-select" disabled id="inputDriftStatus">
              <option value="0">No recogido</option>
              <option value="1">Recogido</option>
              <option value="2">Emergencia</option>
              <option value="3">Solicita Ayuda</option>
            </select>
          </div>
          <div class="form-row mb-3">
            <select class="form-select" id="inputDriftOperatorStatus">
              <option value="null">Sin desición</option>
              <option value="0">Aceptado</option>
              <option value="1">Denegado</option>
            </select>
          </div>
          <div class="form-outline mb-3">
            <input type="text" name="DriftAddress" class="form-control" id="inputDriftAddress"/>
            <label class="form-label" for="DriftAddress">Direccion</label>
          </div>
          <div class=" mb-3">
            <label class="form-label mb-1" for="DriftRate">Codigo</label>
            <select  name="DriftRate" class="form-control" id="inputDriftRate">
              <option value="">Seleccione</option>
            </select>
          </div>
          <div class="form-outline mb-3">
            <input type="number" name="DriftRatePrice" class="form-control" id="inputDriftPrice"/>
            <label class="form-label" for="DriftPrice">Precio</label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnSubmitDrift" action="">Guardar</button>
      </div>
    </div>
  </div>
</div>

{% endblock%}

{% block javascript %}
<script>
const api = {
    ride: {
        list: "/api/ride/",
        create: "/api/ride/create",
        retrieve: "/api/ride/",
        delete: "/api/ride/",
        update: "/api/ride/",
        drift: "/api/ride/drift/",
    }
}
</script>
<script src="{% static 'js/ride/main.js' %}"></script>
{% endblock javascript %}